<!DOCTYPE html>
<head>
  <meta charset= "UTF-8">
  <title>404</title>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.4/css/materialize.min.css">
  <%= include_stylesheet("application")%>
  <%= display_favicon %>
  <%= include_javascript("application")%>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
<body>
  <div class="row not-found">
    <div class="col m8 offset-m2">
      <p>&nbsp;</p>
      <p>Since we could not find the page you want to visit.<br/>
       We brought you this beautiful car with the pretty angel to take you to wherever you want to find your unavailable page.</p>
      <p>&nbsp;</p>
      <img src="http://404-resto.com/typo3temp/pics/7580ea80fa.jpg">
    </div>
  </div>
</body>
</html>